@import '../../Styles/main.scss';

.chartContainer {
	position: relative;
	min-width: 280px;
	max-width: 320px;
	margin: 0 auto 30px auto;
	@media screen and (min-width: $max-mobile) {
		margin: 0;
		max-height: 320px;
	}
}
  
.statisticsTitle {
	font-size: 30px;
	line-height: 45px;
	margin: 0;
	margin-bottom: 10px;
	padding-top: 40px;
	@media screen and (min-width: $max-tablet){
		margin-top: 0;
		padding-top: 0;
	}
}
  
.chartInside {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 61%;
	right: 20%;
	left: 20%;
	z-index: 1;
	font-size: 18px;
	margin: 0;
	@media screen and (min-width: $max-mobile) and (max-width: $max-tablet) {
		top: 77%;
		font-size: 20px;
	}
	@media screen and (min-width: $desktop) {
		top: 62%;
		font-size: 20px;
	}
}
  