@import '../../Styles/main.scss';

.text {
  @include font-data($font-poppins, 25px, $text-black, 700, 1.3);
}
.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapProgress {
  position: relative;
  margin: 0;
  padding: 0;
}
.progressbar {
  position: absolute;
  top: 60%;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 25px;
}
.progressbar progress {
  border-radius: 25px;
  width: 100%;}

.progressbar progress::-webkit-progress-bar {
        border-radius: 25px;
        background: #e5f1ef;
        height: 4px;
      }
progress::-webkit-progress-value {
  background: -webkit-linear-gradient(left, #24cca7, #24cca7);
  border-radius: 25px;
  box-shadow: 0px 1px 4px rgba(36, 204, 167, 0.5);
}
progress::-webkit-progress-value {
  background: -webkit-linear-gradient(left, #24cca7, #24cca7);
  border-radius: 25px;
  box-shadow: 0px 1px 4px rgba(36, 204, 167, 0.5);
}
.btnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  margin: 0 auto;
}
.linkBtn {
  width: 280px;
  display: block;
  padding: 13px 68px;
  border: 1px solid $main-blue;
  border-radius: 20px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  @include font-data($font-poppins, 14px, $main-blue, 700, 1.5);}

@media screen and (max-width: $max-mobile){
  .innerContainer {
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 36px 20px;
        margin: 0 auto;
      }
      
      .logo {
        width: 28px;
        height: 22px;
      }
      .form {
            margin-top: 50px;
            width: 100%;
            text-align: center;
          }
}
@media screen and (min-width: $tablet){
  .innerContainer {
        border-radius: 20px;
        background-color: #fff;
        padding: 40px 65px 60px 65px;
        margin: 52px auto;
        height: 616px;
        width: 540px;
      }
  .logo {
        width: 38px;
        height: 31px;
      }
  .form {
        text-align: center;
        margin-top: 50px;
        width: 410px;
      }
  .progressbar{
    width: 410px;
  }
  .progressbar progress {
      -webkit-appearance: none;
      border: none;
      height: 4px;
    }
  .linkBtn{width: 280px;}
}