@import '../../Styles/main.scss';

.сontainer {
  width: 100vw;
  height: 100vh;
  background-color: $main-white;
  padding: 36px 20px;

  @media screen and (min-width: $tablet) {
    width: 540px;
    height: 616px;
    padding: 50px 65px;
    border-radius: 20px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  width: 28px;
  height: 22px;
  margin-right: 15px;

  @media screen and (min-width: $tablet) {
    width: 38px;
    height: 31px;
  }
}

.text {
  @include font-data($font-poppins, 30px, $text-black, 700, 1.5);
}

.linkBtn {
  display: block;
  padding: 13px 68px;
  border: 1px solid $main-blue;
  border-radius: 20px;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  @include font-data($font-poppins, 18px, $main-blue, 400, 1.3);

  @media screen and (min-width: $tablet) {
    width: 280px;
  }
}

.btnWrapper {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.progressbar {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 25px;
}

.progressbar progress {
  border-radius: 25px;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  height: 4px;
}

.progressbar progress::-webkit-progress-bar {
  border-radius: 25px;
  background: $text-grey6;
  height: 4px;
}

progress::-webkit-progress-value {
  background: -webkit-linear-gradient(left, $yellow, $main-green);
  border-radius: 25px;
  box-shadow: 0px 1px 4px $main-green;
}
