@import '../../Styles/main.scss';

.container {
  display: flex;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    flex-direction: column;
    align-items: center;

    height: 100vh;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
  }

  &::before {
    display: none;
    content: url('../../Images/UpPart.png');
    position: absolute;
    width: 420px;
    top: 0;
    right: 0;
    z-index: -1;

    @media screen and (min-width: $tablet) {
      display: block;
    }

    @media screen and (min-width: $desktop) {
      content: '';
      width: 56%;
      height: 100vh;
      background-image: url('../../Images/backgraund.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &::after {
    display: none;
    content: url('../../Images/LowPart.png');
    position: absolute;
    width: 420px;
    bottom: 0;
    left: 0;
    z-index: -1;

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}

.imgWrapper {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.img {
  width: 260px;
  margin-right: 40px;

  @media screen and (min-width: $desktop) {
    width: 435px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.appName {
  @include font-data($font-poppins, 30px, $text-black, 400, 1.5);
}
