@import '../../Styles/main.scss';

.balanceContainer {
  width: 280px;
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: white;
  border-radius: 30px;

  @media screen and (min-width: $tablet) {
    width: 334px;
    margin-top: 20px;
    margin-left: 0px;
  }

  @media screen and (min-width: $desktop) {
    width: 350px;
    margin-top: 30px;
  }
}

.balanceText {
  margin-bottom: 10px;

  text-transform: uppercase;
  @include font-data($font-circe, 12px, #a6a6a6, 400, 0.67);
}

.balance {
  @include font-data($font-poppins, 30px, #000, 700, 0.67);
}
