@import '../../Styles/main.scss';

.hiddenNav {
  @media screen and (min-width: $tablet) {
    @include visually-hidden;
  }
}

.hiddenInfo {
  @media screen and (max-width: $max-mobile) {
    @include visually-hidden;
  }
}
.wrapDesktop {
  @media screen and (min-width: $max-tablet){
    display: flex;
  }
}

.wrapContainer {
  @media screen and (min-width: $max-mobile){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $max-tablet){
    width: 700px;
    margin: 40px auto auto;
  }
}

.calendarTable {
  margin: 0 auto;
  min-width: 280px;
  max-width: 350px;

  @media screen and (min-width: $max-mobile) {
    width: 350px;
    margin: 0;
    padding-top: 105px;
  }

  @media screen and (min-width: $max-tablet){
    margin-top: 0;
    padding-top: 65px;
  }
}